<header role="header" class="app-topbar">
  <div class="app-topbar__left">
    <% link_to "#{config[:root_url] ? config[:root_url] : '/'}dashboard/" do %>
      <%= image_tag 'logos/logo.svg', alt: 'Atomizer Logo' %>
    <% end %>
  </div>
  <div class="app-topbar__middle">
    <input type="search" name="siteSearch" placeholder="Quickly lookup a scenario and launch its dashboard" class="input--search input--no-border" />
  </div>
  <div class="app-topbar__right">
    <ul class="right__list">
      <li class="right__item">
        <div class="popout__container">
          <a href="#" class="popout__trigger">
            <%= inline_svg("icons/grid-icon.svg") %>
          </a>
          <div class="popout">
            <ul class="popout__list">
              <li class="popout__item">
                <a href="#" class="popout__link">
                  <%= inline_svg("icons/atom-icon.svg", class: 'popout__icon') %>
                  Module Catalog
                </a>
              </li>
              <li class="popout__item">
                <a href="#" class="popout__link">
                  <%= inline_svg("icons/settings-icon.svg", class: 'popout__icon') %>
                  Application Settings
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="right__item">
        <div class="app-topbar__user">
          <div class="user__avatar">
            <!-- <span class="user__avatar-img user__avatar-no-img">KC</span> -->
            <%= image_tag 'misc/user-avatar-img.jpg', alt: 'Kurt Cunningham', class: 'user__avatar-img' %>
          </div>
          <div class="user__content">
            <span class="user__name">Kurt Cunningham</span>
            <ul class="user__settings-list">
              <li class="list__item">
                <%= link_to 'Settings', '/user', class: 'list__item-link' %>
              </li>
              <li class="list__item">|</li>
              <li class="list__item">
                <%= link_to "Sign Out", "#{config[:root_url] ? config[:root_url] : '/'}", class: 'list__item-link' %>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>