<!-- Edit Scenario Partial - Active by default -->
<section role="region" aria-label="Edit Scenario" id="tab-1" class="page-section page-section--header-offset tab__content is-active">
  <%= partial 'scenario/partials/scenario-edit-aside' %>
  <%= partial 'scenario/partials/scenario-edit-body' %>
</section>
<!-- Edit Scenario Save Alert -->
<%= partial 'scenario/partials/_scenario-edit-save-alert' %>
<!-- Edit Scenario Extras Panel -->
<%= partial 'scenario/partials/_scenario-edit-module-extras-panel' %>
<%= partial 'scenario/partials/_scenario-edit-duplicate-modules-modal' %>
<%= partial 'scenario/partials/_scenario-edit-delete-modules-modal' %>
<!-- Edit Scenario Modals -->
<%= partial 'scenario/partials/_scenario-edit-update-modules-modal' %>