<tr class="card card--small">
  <td class="card-item card-item--large">
    <a href="#" class="card__favorite-action">
      <%= inline_svg("icons/star-outline-icon.svg") %>
    </a>
    <h4 class="title"><%= v.title %></h4>
  </td>
  <td class="card-item">
    <div class="chip margin--reset">
      <div class="chip--left">
        <div class="chip__image chip__image--small">
          <%= image_tag v.updated_by_img, class: 'image' %>
        </div>
      </div>
      <div class="chip--right margin-reset--top margin-right--echo">
        <p class="chip__text margin-reset--bottom"><%= v.updated_by %><br/><%= v.updated_on %></p>
      </div>
    </div>
  </td>
  <td class="card-item"><%= v.stats[0].number %></td>
  <td class="card-item"><%= v.stats[1].number %></td>
  <td class="card-item"><%= v.stats[2].number %></td>
  <td class="card-item__actions">
    <% link_to '#', class: 'link modal__trigger', data: {modal: "editVariation#{i}"} do %>
      <%= inline_svg("icons/edit-icon.svg") %>
    <% end %>
    <% link_to '#', class: 'link modal__trigger', data: {modal: "deleteVariation#{i}"} do %>
      <%= inline_svg("icons/trash-icon.svg") %>
    <% end %>
  </td>
</tr>
<tr class="spacer"></tr>